
{% load otree %}



<style type="text/css">
    *{margin: 0;padding: 0;}
    div{
        text-align: center;
    }
    img{
    object-fit: cover;
    }
</style>


<div class="card bg-light instructions">
    <div class="card-body"> 
    <p style="text-indent:2em">
1916年12月起，蔡元培出任北京大学校长，次年蔡即请鲁迅为之设计校徽。鲁迅于8月7日将设计完竣的校徽图样寄交蔡元培，后即被采用。后又曾长期弃用，80年代始重新使用，现使用的北大校徽系以此为基础修改而成。	
</p>
<img src="https://gss3.bdstatic.com/7Po3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike80%2C5%2C5%2C80%2C26/sign=83786d1533fa828bc52e95b19c762a51/060828381f30e92487df75214c086e061d95f7a3.jpg" align="center" alt="鲁迅设计的北大校徽" width="20%" height="20%"/>  
<p style="text-indent:2em">
鲁迅设计的这枚北大校徽，其图案以篆体的“北大”二字构成一个圆形，便于制作圆形的徽章。巧妙的是：下面的“大”字像一个人，上面的“北”字又像两个人，这样就构成了“三人成众”的意象。又有如一人而背负二人之象，给人以“北大人肩负重任”的想象。
</p>
<p style="text-indent:2em">
2007 年，北京大学对学校形象标识的使用进行规范管理，将“北京大学”、“北大”、“燕园”、“未名”、“PKU”以及北大标志等注册为商标。并对外声明“任何机构或个人未经北京大学的授权许可，不得在任何商品、场合以任何方式使用上述字样和标志，否则即构成侵权行为，应当承担相应的法律责任”。
</p>
<img src="https://gss3.bdstatic.com/-Po3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike80%2C5%2C5%2C80%2C26/sign=aba5c1bfa318972bb737089887a410ec/6a600c338744ebf861ff9994d1f9d72a6159a78b.jpg" alt="北大商标" width="40%" height="40%"/>  
<p style="text-indent:2em">
2014 年 9 月 3 日，《北京大学章程》正式核准发布 ，第八章的《标识和校庆日》
对北京大学校徽作了如下规范：</p>
<p style="text-indent:2em">
第四十九条 学校徽志为双圆套形，徽志中心“北大”二字由三个人形图案组成，上下排列、左右对称；外环上方是大写 “PEKING UNIVERSITY”，下方是“1898”字样。学校标准色为<font color='ff0000'><b>北大红</b></font>。</p>
<p style="text-indent:2em">
第五十条 学校徽章为长方形，印有毛泽东题写的“北京大学”。</p>
<img src="https://gss2.bdstatic.com/9fo3dSag_xI4khGkpoWK1HF6hhy/baike/s%3D220/sign=91ea104a034f78f0840b9df149310a83/03087bf40ad162d998d4ec0211dfa9ec8a13cdf2.jpg" alt="毛泽东题写北大校名" width="20%" height="20%"/>  
<p style="text-indent:2em">
第五十一条 校旗为红底黄字的长方形旗帜，中央印有毛泽东题写的“北京大学”，左上角配以学校徽志。</p>
<p style="text-indent:2em">
第五十二条 学校拥有标识专有权。
</p>
<img src="https://gss2.bdstatic.com/9fo3dSag_xI4khGkpoWK1HF6hhy/baike/crop%3D0%2C0%2C720%2C480%3Bc0%3Dbaike92%2C5%2C5%2C92%2C30/sign=bb7b5734f403738dca0556628e2b9c61/4d086e061d950a7b0072665008d162d9f3d3c9da.jpg" alt="北大logo" width="40%" height="40%"/>  
   </div>
</div>
