{% load otree %}


<div class="card bg-light instructions">

    <div class="card-body">
    <p style="text-indent:2em">
    现在要进行的是一个<font color='ff0000'><b>涉及金钱的决策任务</b></font>。请你先认真阅读该说明，然后在自己的设备上单独做出决策。
    在决策任务过程中，<font color='ff0000'><b>请不要跟其他人商量或聊天。</b></font></p>	 
	<p style="text-indent:2em">该决策匿名进行，即每一位参与者都不会知道其他参与者的具体选择。
    请注意，本任务是真实的而非虚拟的，
    每个人在决策中根据规则<font color='ff0000'><b>获得的金额将在任务全部结束后如数发放</b></font>。
    为了便于计算，我们在决策中使用的货币单位是实验币元，
    1元实验币= 0.1元人民币。举例来说，如果你在实验中的投资所得为1000元实验币，
    <font color='ff0000'><b>我们将真实支付你100元人民币</b></font>。
	</p>
   </div>
</div>
